/* Global Styles */
:root {
    /* Colour Variables */
    --primary: #57B3BD;
    --background: #F2F2F5;
    --button: #3399FD;

}
body {
    font-family: "Aeonik", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background);
}

h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #ffff;
    letter-spacing: 0.2px;
    margin: 0;
}

h2 {
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.14px;
    margin: 0;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.12px;
    margin: 0;
}

/* Header */
#header {
    background-image: url("Assets/Header\ Background.png");
    background-size: cover;
    background-position: center;
    padding: 50px 25px 70px 25px;

    display: flex;
    flex-direction: column;
    gap: 40px;

}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.menu-hamburger-icon {
    width: 32px;
    cursor: pointer;
}

.logo {
    width: 200px;
}

.header-overview {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#header p {
    color: #ffff;
}

.invite-collaborators {
    /* Layout */
    display: flex;
    width: fit-content;
    padding: 6px 12px;
    gap: 10px;

    /* Style */
    border-radius: 40px;
    border: 1px solid #FFF;
    background: #FFF;
    cursor: pointer;

    /* Typography */
    color: var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

/* Content */
#content {
    margin-top: -65px;
    padding: 30px 27px;
}

/* Info Box */
.info-box {
    /* Layout */
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* Style */
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.info-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--button);
}

.header-icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-circle, .bi-x {
    width: 30px !important;
}