/* Global Styles */
:root {
    /* Colour Variables */
    --primary: #57B3BD;
    --background: #F2F2F5;
    --button: #3399FD;

}

body {
    font-family: "Aeonik", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background);
}

h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #ffff;
    letter-spacing: 0.2px;
    margin: 0;
}

h2 {
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.14px;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1%;
    margin: 0;
}

p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
    margin: 0;
}

button, .button {
    display: flex;
    padding: 14px 24px;
    justify-content: center;

    /* Style */
    border-radius: 58px;
    background: var(--button);
    box-shadow: 0px 8px 16px 0px rgba(51, 153, 253, 0.32);
    border: 2px solid var(--button);
    cursor: pointer;

    /* Typography */
    font-family: "Aeonik", sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.16px;
}

.btn-secondary {
    background: #fff;
    box-shadow: none !important;
    color: #3399FD;
}

/* Header */
#header {
    background-image: url("Assets/Header\ Background.png");
    background-size: cover;
    background-position: center;
    padding: 50px 25px 70px 25px;

    display: flex;
    flex-direction: column;
    gap: 40px;

}

menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.menu-icon {
    width: 32px;
    cursor: pointer;
}

.logo {
    width: 200px;
}

.header-overview {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#header p {
    color: #ffff;
}

.invite-collaborators {
    /* Layout */
    display: flex;
    width: fit-content;
    padding: 6px 12px;
    gap: 10px;

    /* Style */
    border-radius: 40px;
    border: 1px solid #FFF;
    background: #FFF;
    cursor: pointer;
    box-shadow: none !important;

    /* Typography */
    color: var(--primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

/* Content */
#content {
    margin-top: -65px;
    padding: 30px 27px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Info Box */
.info-box {
    /* Layout */
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* Style */
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.info-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--button);
}

.header-icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-circle,
.bi-x {
    width: 30px;
}

.info-box-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#room-selection-list, form {
    display: flex;
    flex-direction: column;
    gap: 24px
}

/* Space Cards */

.sc-list,
.selected-sc {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.space-card {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 16px 20px;

    /* Style */
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.sc-default {
    background: #ffffff00;
    border: 1px solid #A4A9B4;
}

.space-card img {
    width: 30px;
}

.sc-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.sc-action {
    color: var(--button);
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}


/* Kitchen Design Service */

#kitchen-design-box {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;

    /* Style */
    text-align: center;
    border-radius: 8px;
    background: var(--button);
    color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}


/* ---------------- */
/* Add Spaces Page */
/* --------------- */

/* Room Selection (rs) List */
.rs-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rs-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rs-card-box {
    /* Layout */
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    /* Style */
    border-radius: 8px;
    border: 1px solid #E6E9F0;
    background: #FFF;
}

.rs-icon-title {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.rs-card h3 {
    font-size: 17px;
    line-height: 20px
}

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox container */
.custom-checkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Create the custom checkbox appearance */
.checkmark {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border: 2px solid #E6E9F0;
    border-radius: 50%;
    background-color: #fff;
}

input[type="checkbox"]:checked+.checkmark {
    background-color: #57B3BD;
    border: 2px solid #57B3BD;
}

/* Style the checkmark inside the custom checkbox when checked */
input[type="checkbox"]:checked+.checkmark::after {
    /* Checkmark symbol */
    content: "\2713";
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: #fff;
    position: relative;
    top: 15%;
    left: 27%;
}

.rs-room-qty, .rs-room-qty:active, .rs-room-qty:focus {
    /* Layout */
    width: 20%;

    /* Style */
    border-radius: 8px;
    border: 1px solid #E6E9F0 !important;
    background: #FAFAFA;
    outline: none;

    /* Typography */
    color: #272F3A;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
}